.aboutUs {
  margin-top: 60px;
  font-family: $archivo;
  background-color: #f9f9f9;
  padding-bottom: 150px;
  padding-left: 20px;
  &__section {
    padding-top: 40px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2.8px;
    color: $lightgray;
  }
  &__title {
    margin-top: 32px;
    font-size: 50px;
    font-family: $standard;
    line-height: 60px;
    letter-spacing: -1.2px;
    margin-left: 20px;
    text-align: center;
  }
  &__lorem {
    color: $lightgray;
    font-family: $archivo;
    font-size: 14px;
    line-height: 24px;
    padding: 20px;
  }
  &__button {
  font-size: 14px;
  font-weight: 700;
  padding: 22px 57px;
  border: 2px solid $lightgray;
  background-color: #f9f9f9;
  color: $lightgray;
  margin-top: 24px;
  font-family:$archivo;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
  &:hover {
    color: $white;
    background-color: $brown;
    border: 2px solid $brown;
  }
}
}