.availability {
  font-size: $roboto;
  background: $darkgray;
  color: $white;
  padding: 0 20px 0 20px;

  &__form {
    padding: 36px 0;

    &-arrival {
      label {
        display: block;
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 16px;
      }
      img {
        position: absolute;
      }
      input {
        width: 100%;
        background: transparent;
        border: none;
        color: $brown;
        position: relative;
        border: none;
        border-bottom: 2px solid $brown;
        padding-bottom: 20px;
        padding-left: 30px;
        font-size: 14px;
      }
    }

    &-departure {
      label {
        display: block;
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 16px;
      }
      img {
        position: absolute;
      }
      input {
        width: 100%;
        background: transparent;
        border: none;
        color: $brown;
        position: relative;
        border: none;
        border-bottom: 2px solid $brown;
        padding-bottom: 10px;
        padding-left: 30px;
        font-size: 14px;
        margin-bottom: 36px;
      }
    }
    button {
      padding: 22px;
      margin-bottom: 24px;
      font-family: $archivo;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      background-color:$darkgray;
      border: 2px solid $lightgray;
      color: $white;
      cursor: pointer;
        &:hover {
            background-color: $brown;
            border: 2px solid $brown;
        };
    }
  }
}
