.availability {
  font-family: $roboto;
  background: $darkgray;
  color: $white;
  padding: 0 20px 0 20px;

  &__form {
    width: 100%;
    padding: 36px 0;
    text-align: center;

    &-input {
      label {
        display: inline-block;
        width: 270px;
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 16px;
        text-align: left;
      }

      input {
        width: 270px;
        background: transparent;
        border: none;
        color: $brown;
        position: relative;
        border: none;
        border-bottom: 2px solid $brown;
        padding-bottom: 20px;
        padding-left: 30px;
        font-size: 14px;
        &[type="date"]::-webkit-calendar-picker-indicator {
          filter: invert(1);
        }
      }
    }

    button {
      padding: 22px;
      margin-top: 42px;
      font-family: $archivo;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      background-color: $darkgray;
      border: 2px solid $lightgray;
      color: $white;
      cursor: pointer;
      &:hover {
        background-color: $brown;
        border: 2px solid $brown;
      }
    }
  }
  @media only screen and (min-width: 900px) {
    &__form {
      display: flex;
      gap: 30px;
      justify-content: center;

      &-input {
        width: 30%;
      }
      button {
        margin-left: 20px;
      }
    }
  }
}
