.footer {
  &__container {
    background-image: url("../assets/img/footer-bg.svg");
    margin-top: 60px;
    font-size: 14px;
    padding: 30px 20px;
    font-family: $archivo;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  }

  &__text {
    max-width: 280px;
    font-weight: 400;
    font-size: 1em;
    line-height: 26px;
    color: #777777;
    .footer__network {
      margin-left: 10px;
      margin-top: 20px;
      border: 8px solid #f8f8f8;
    }
  }
  &__title {
    padding: 20px;
    font-family: $standard;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $darkgray;
  }
  &__service {
    margin: 0 auto;
    height: 250px;
    font-family: $roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    column-count: 2;
    column-gap: 19px;
    column-fill: auto;
    color: $lightgray;
    list-style: none;
  }

  &__contact {
    &__title {
      margin-top: 32px;
      font-family: $standard;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      color: $darkgray;
    }
    .footer__box {
      display: flex;
      align-items: center;
      padding: 15px;
      & img {
        height: 40px;
        width: 40px;
      }

      .text {
        font-family: $standard;
        font-size: 20px;
        line-height: 20px;
        padding-left: 20px;
        font-weight: 400;
        color: $darkgray;
      }
      .number {
        font-family: $archivo;
        font-size: 12px;
        color: $lightgray;
        padding-left: 20px;
      }
    }
  }
  .copyright {
    padding: 10px 20px;
    font-family: $roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #222222;
    background-color: #f8f8f8;

    &__links {
      display: flex;
      gap: 10px;
      & a {
        text-decoration: none;
        color: #222222;
      }
    }
  }
  @media only screen and (max-width: 478px) {
    &__links {
      margin-top: 20px;
    }
  }
}
