.information {
  background-color: $gray;
  color: $white;
  padding: 30px 30px 50px 30px;
  &__content {
    display: block;
    width: 100%;

    &-subtitle {
      height: 36px;
      font-size: 13px;
      font-weight: 700;
      font-family: $archivo;
      letter-spacing: 2.8px;
      padding: 55px 0 40px 0;
    }
    &-title {
      font-family: $standard;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 60px;
      letter-spacing: -1.2px;
      padding-top: 40px;
      margin-bottom: 40px;
    }

    &-button {
      padding: 22px;
      margin-bottom: 24px;
      font-family: $archivo;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      background-color:$gray;
      border: 2px solid $lightgray;
      color: $white;
      cursor: pointer;
        &:hover {
            background-color: $brown;
            border: 2px solid $brown;
        };
  
  }
}
}