

.information{
    background-color: $gray;
    color:$white;
    padding: 30px;
    &__content{
        display: block;
        width: 100%;
    
        &-subtitle{
            height: 36px;
            font-size: 13px;
            font-weight: 700;
            font-family: $archivo;
            letter-spacing: 2.8px;
            padding: 55px 0 40px 0;
        }
        &-title{
            font-family:$standard;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: -1.2px;
            margin-top: 40px;
        }
       
     
            &-take{
            background:$brown;
            color:$white;
            padding-inline: 20px;
            padding-block: 15px;
            width: 180px;
            font-family:$archivo;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            border:none;
            margin-bottom:24px;
            margin-top: 40px;

            }
            &-learn{
            background:$gray;
            color:$white;
            margin-bottom:76px;
            padding-inline: 20px;
            padding-block: 15px;
            width: 180px;
            font-family:$archivo;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 2.8px;
            border:2px solid rgba(255, 255, 255, 0.33);
            }
        
       
    }
    

}
