


@mixin button($background, $widht){
    background: $background;
    color:white;
    padding-inline: 20px;
    padding-block: 15px;
    width: $width;
    font-family:$archivo;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
 
}