.nav{
    margin-left: 60%;
    position: absolute;
    background-color:$white;
    font-family: $archivo;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.48px;
    margin-top: -80px;
    padding: 14px 14px;
    object-fit: cover;
 
    .page{
        color:$black;
        text-decoration: none;
        &:hover{
            color:$brown;
        }
    }
    
    
}