.rooms {
  padding-top: 60px;
  padding: 20px;
 

  &__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    img {
      object-fit: cover;
      width: 300px;
      height: 250px
    }
  }
  &__section {
    font-family: $archivo;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-align: center;
    color: $lightgray;
  }
  &__title {
    color: $darkgray;
    font-family: $standard;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.2px;
    margin-top: 24px;
    margin-bottom: 30px;
  }
  &__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -30px;


  &-image {
    position: relative;
    width: 260px;
    height: 80px;
    box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
    object-fit: cover;
  }
}

  .swiper {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    z-index: 1;
 
  
    .swiper-slide {
 
      background-size: cover;
      background-position: center;
    }

    .swiper-button-prev{
      --swiper-navigation-size: 20px;
      color: $black;
      background-color: $white;
      padding: 20px;
      &:hover{
        background-color:$brown;
        color: $white;
      }
    }
    
    .swiper-button-next{
      --swiper-navigation-size: 20px;
      color: $black;
      background-color: $white;
      padding: 20px;
       &:hover{
        background-color:$brown;
        color: $white;
      }
    }
 
      
  }
  
  &__infor {
    padding-top: 20px;
    padding:20px;
    flex-direction: column;
    display: flex;
    background-color: $white;
    margin-bottom: 20px;
  
    

   
    &-title {
      font-family: $standard;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -1.2px;
      text-align: center;
      color: $darkgray;
    }
    &-lorem {
      font-size: 14px;
      color: $lightgray;
      font-family: $roboto;
      font-weight: 400;
      text-align: center;
      line-height: 24px;
    }
    &-price {
      font-family: $archivo;
      font-size: 16px;
      font-weight: 700;
      line-height: 17px;
      text-align: center;
      color: $brown;
      margin-top: 12px;
      span {
        font-size: 13px;
      }
      .book{
        color:#BDBDBD;
        font-size: 16px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
