.video {
  width: 100%;
  display: block;
  padding: 25px;
  background-color: $darkgray;
  &__section {
    padding-top: 64px;
    font-family: $archivo;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    color: $brown;
  }
  &__title {
    color: $white;
    font-family: $standard;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2px;
    padding-top: 20px;
  }
  &__lorem {
    font-family: $archivo;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #c2c2c2;
    padding: 20px;
    text-align: justify;
  }
  &__film {
    justify-items: center;
    width: 100%;
    padding: 20px;
  }
  &__button {
    padding: 22px;
    margin-bottom: 24px;
    font-family: $archivo;
    width: 216px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    background-color:$darkgray;
    border: 2px solid $lightgray;
    color: $white;
      &:hover {
          background-color: $brown;
          border: 2px solid $brown;
      };
  }
}
