.video {
  padding: 30px 20px;
  background-color: $darkgray;
  &__wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  &__text {
    max-width: 400px;
    &-section {
      font-family: $archivo;
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 2.8px;
      color: $brown;
    }
    &-title {
      color: $white;
      font-family: $standard;
      font-weight: 400;
      font-size: 50px;
      line-height: 54px;
      letter-spacing: -1.2px;
      padding-top: 20px;
    }
    &-lorem {
      font-family: $archivo;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #c2c2c2;
      text-align: justify;
    }
  }
  &__film {
    justify-items: center;
    padding: 20px;
  }
  &__button {
    display: flex;
    margin: 20px 0;
    padding: 22px;
    align-items: center;
    justify-content: center;
    font-family: $archivo;
    width: 216px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    background-color: $brown;
    border: none;
    color: $white;
    cursor: pointer;
    &:hover {
      background-color: $darkgray;
      border: 2px solid $darkgray;
    }
  }

  @media only screen and (min-width: 900px) {
    background: linear-gradient(
      to right,
      $darkgray 0%,
      $darkgray 70%,
      $brown 70%,
      $brown 100%
    );
    &__wraper {
      gap: 50px;
      justify-content: center;
    }
    &__text {
      width: 35%;
    }
    &__film {
      width: 400px;
    }
    & button {
      margin-top: 50px;
      margin-left: 10%;
    }
  }
}
