@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;700&display=swap");
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  width: 100%;
  height: 70px;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  position: fixed;
  z-index: 100;
  /*  #btnClosedMenu {
     display: block;
     position: relative;
     width: 15px;
     height: 15px;
     margin: 20px;
     &__close{
       position: absolute;
       cursor:pointer;

     }
   }
   &__closeMenu{
     display: none;
   } */
}
.header__logo {
  position: absolute;
  width: 36px;
  height: 36px;
  margin: 17px 72px;
  background: #FFFFFF;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.header__logo-bg {
  padding: 11.5px;
}
.header__logo-title {
  margin: 25px 122px;
}
.header__user {
  position: absolute;
  top: 23px;
  right: 68px;
}
.header__search {
  position: absolute;
  top: 23px;
  right: 20px;
}
.header #closedMenu {
  display: block;
  padding: 10px;
}
.header .close {
  display: none;
}
.header__burger {
  display: block;
  position: absolute;
  margin: 28px;
  width: 20px;
  height: 20px;
}
.header__burger-icon {
  cursor: pointer;
}
.header #btn.remove {
  display: none;
}
.header__menu {
  display: none;
  background-color: #FFFFFF;
}
.header #links.show {
  display: block;
  width: 100%;
  margin-left: 0;
  position: absolute;
  background-color: #FFFFFF;
}
.header #links.show a {
  display: block;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  text-align: left;
  padding: 10px;
  color: #111111;
}
.header #links.show a:hover {
  width: 10%;
  color: black;
}

.footer {
  padding: 20px;
  margin-top: 50px;
  background-image: url("../assets/img/footer-bg.svg");
}
.footer__logo-icon {
  margin-left: -20px;
}
.footer__lorem {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #777777;
}
.footer__networks {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 48px;
  list-style: none;
}
.footer__networks-icon {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  transition: background-color 200ms ease-in-out;
}
.footer__networks-icon img {
  width: 30px;
  height: 30px;
  transition: filter 100ms ease-in-out;
}
.footer__networks-icon:hover {
  background-color: #bead8e;
}
.footer__networks-icon:hover img {
  filter: brightness(8);
}
.footer__title {
  margin-top: 32px;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}
.footer__services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 24px;
  list-style: none;
}
.footer__services li {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  color: #777777;
}
.footer__contacTitle {
  margin-top: 32px;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.footer__contact-inform {
  padding-top: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.footer__contact-inform-image {
  padding-right: 30px;
}
.footer__contact-inform-data .text {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}
.footer__contact-inform-data .number {
  color: #777777;
  font-size: 14px;
}

.copyright {
  padding: 20px;
  background-color: #f8f8f8;
}
.copyright__text {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.48px;
  color: #222222;
}

.aboutUs {
  margin-top: 60px;
  font-family: "Archivo", sans-serif;
  background-color: #f9f9f9;
  padding-bottom: 150px;
  padding-left: 20px;
}
.aboutUs__section {
  padding-top: 40px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  color: #777777;
}
.aboutUs__title {
  margin-top: 32px;
  font-size: 50px;
  font-family: "Old Standard TT", serif;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-left: 20px;
  text-align: center;
}
.aboutUs__lorem {
  color: #777777;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
}
.aboutUs__button {
  font-size: 14px;
  font-weight: 700;
  padding: 22px 57px;
  border: 2px solid #777777;
  background-color: #f9f9f9;
  color: #777777;
  margin-top: 24px;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
}
.aboutUs__button:hover {
  color: #FFFFFF;
  background-color: #BEAD8E;
  border: 2px solid #BEAD8E;
}

.presentation {
  padding: 20px;
  font-size: 30px;
  font-weight: 400;
  font-family: "Old Standard TT", serif;
  line-height: 40px;
  letter-spacing: -1.16px;
  margin-left: 20px;
  text-align: center;
}

.services {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
.services__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
  transition: background-color 200ms ease-in-out;
}
.services__icon img {
  margin-top: 10px;
  width: 58px;
  height: 50px;
  transition: filter 100ms ease-in-out;
}
.services__icon:hover {
  background-color: #bead8e;
}
.services__icon:hover img {
  filter: brightness(8);
}
.services p {
  font-family: "Archivo", sans-serif;
  padding: 10px;
  font-weight: 700;
  font-size: 8px;
  line-height: 14px;
  letter-spacing: 2.4px;
  color: #222222;
}

.restaurant {
  margin-top: 60px;
  font-family: "Archivo", sans-serif;
  background-color: #f9f9f9;
  padding-bottom: 150px;
  padding: 20px;
}
.restaurant__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.restaurant__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 270px;
  height: 300px;
}
.restaurant__section {
  font-family: "Archivo", sans-serif;
  padding-top: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #777777;
}
.restaurant__title {
  margin-top: 32px;
  font-size: 40px;
  font-family: "Old Standard TT", serif;
  line-height: 50px;
  letter-spacing: -1.1px;
  margin-left: 20px;
  text-align: center;
  font-weight: 400;
}
.restaurant__lorem {
  color: #777777;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
}
.restaurant__button {
  font-size: 14px;
  font-weight: 700;
  padding: 22px 57px;
  border: 2px solid #777777;
  background-color: #f9f9f9;
  color: #777777;
  margin-top: 24px;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
}
.restaurant__button:hover {
  color: #FFFFFF;
  background-color: #BEAD8E;
  border: 2px solid #BEAD8E;
}

.information {
  background-color: #333333;
  color: #FFFFFF;
  padding: 30px 30px 50px 30px;
}
.information__content {
  display: block;
  width: 100%;
}
.information__content-subtitle {
  height: 36px;
  font-size: 13px;
  font-weight: 700;
  font-family: "Archivo", sans-serif;
  letter-spacing: 2.8px;
  padding: 55px 0 40px 0;
}
.information__content-title {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -1.2px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.information__content-button {
  padding: 22px;
  margin-bottom: 24px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  background-color: #333333;
  border: 2px solid #777777;
  color: #FFFFFF;
  cursor: pointer;
}
.information__content-button:hover {
  background-color: #BEAD8E;
  border: 2px solid #BEAD8E;
}

.availability {
  font-size: "Roboto", serif;
  background: #222222;
  color: #FFFFFF;
  padding: 0 20px 0 20px;
}
.availability__form {
  padding: 36px 0;
}
.availability__form-arrival label {
  display: block;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 16px;
}
.availability__form-arrival img {
  position: absolute;
}
.availability__form-arrival input {
  width: 100%;
  background: transparent;
  border: none;
  color: #BEAD8E;
  position: relative;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  padding-bottom: 20px;
  padding-left: 30px;
  font-size: 14px;
}
.availability__form-departure label {
  display: block;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 16px;
}
.availability__form-departure img {
  position: absolute;
}
.availability__form-departure input {
  width: 100%;
  background: transparent;
  border: none;
  color: #BEAD8E;
  position: relative;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 14px;
  margin-bottom: 36px;
}
.availability__form button {
  padding: 22px;
  margin-bottom: 24px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  background-color: #222222;
  border: 2px solid #777777;
  color: #FFFFFF;
  cursor: pointer;
}
.availability__form button:hover {
  background-color: #BEAD8E;
  border: 2px solid #BEAD8E;
}

.strongTeam {
  margin-top: -100px;
  background-color: #FFFFFF;
}
.strongTeam__container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.strongTeam__container1-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 270px;
  height: 300px;
}
.strongTeam__container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/team-background.png);
}
.strongTeam__container2-icon {
  padding: 30px;
}
.strongTeam__container2-title {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: #111111;
}
.strongTeam__container2-lorem {
  color: #111111;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  padding: 30px;
}

.luxury {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.luxury__container1 {
  background-color: #FFFFFF;
  height: 300px;
}
.luxury__container1-image {
  width: 270px;
  height: 300px;
}
.luxury__container2 {
  margin-top: 0;
  width: 270px;
  height: 300px;
  background-color: #222222;
  color: #FFFFFF;
}
.luxury__container2-icon {
  margin-left: 100px;
  margin-top: 54px;
}
.luxury__container2-title {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.luxury__container2-lorem {
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-top: 21px;
  padding: 0px 30px 0px 30px;
}

.rooms {
  padding-top: 60px;
  padding: 20px;
}
.rooms__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.rooms__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 250px;
}
.rooms__section {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #777777;
}
.rooms__title {
  color: #222222;
  font-family: "Old Standard TT", serif;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1.2px;
  margin-top: 24px;
  margin-bottom: 30px;
}
.rooms__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -30px;
}
.rooms__icon-image {
  position: relative;
  width: 260px;
  height: 80px;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
  -o-object-fit: cover;
     object-fit: cover;
}
.rooms .swiper {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  z-index: 1;
}
.rooms .swiper .swiper-slide {
  background-size: cover;
  background-position: center;
}
.rooms .swiper .swiper-button-prev {
  --swiper-navigation-size: 20px;
  color: #111111;
  background-color: #FFFFFF;
  padding: 20px;
}
.rooms .swiper .swiper-button-prev:hover {
  background-color: #BEAD8E;
  color: #FFFFFF;
}
.rooms .swiper .swiper-button-next {
  --swiper-navigation-size: 20px;
  color: #111111;
  background-color: #FFFFFF;
  padding: 20px;
}
.rooms .swiper .swiper-button-next:hover {
  background-color: #BEAD8E;
  color: #FFFFFF;
}
.rooms__infor {
  padding-top: 20px;
  padding: 20px;
  flex-direction: column;
  display: flex;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.rooms__infor-title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
  text-align: center;
  color: #222222;
}
.rooms__infor-lorem {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", serif;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}
.rooms__infor-price {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  color: #BEAD8E;
  margin-top: 12px;
}
.rooms__infor-price span {
  font-size: 13px;
}
.rooms__infor-price .book {
  color: #BDBDBD;
  font-size: 16px;
}
.rooms__infor-price:hover {
  transform: scale(1.1);
}

.video {
  width: 100%;
  display: block;
  padding: 25px;
  background-color: #222222;
}
.video__section {
  padding-top: 64px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #BEAD8E;
}
.video__title {
  color: #FFFFFF;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  padding-top: 20px;
}
.video__lorem {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #c2c2c2;
  padding: 20px;
  text-align: justify;
}
.video__film {
  justify-items: center;
  width: 100%;
  padding: 20px;
}
.video__button {
  padding: 22px;
  margin-bottom: 24px;
  font-family: "Archivo", sans-serif;
  width: 216px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  background-color: #222222;
  border: 2px solid #777777;
  color: #FFFFFF;
  cursor: pointer;
}
.video__button:hover {
  background-color: #BEAD8E;
  border: 2px solid #BEAD8E;
}

.facilities {
  width: 100%;
  margin-top: 60px;
}
.facilities__section {
  font-size: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #777777;
  text-align: center;
}
.facilities__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
  padding-top: 24px;
  text-align: center;
}
.facilities__slider {
  margin-top: 32px;
  padding-inline: 35px;
}
.facilities__slider-number {
  width: 143px;
  height: 130px;
  margin-left: 60%;
}
.facilities__slider-number .uno {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 120px;
  line-height: 130px;
  color: rgba(34, 34, 34, 0.04);
}
.facilities__slider-icon {
  cursor: pointer;
}
.facilities__slider-icon:hover {
  transform: scale(1.1);
}
.facilities__slider-subtitle {
  padding-top: 36px;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.9;
  line-height: 30px;
  color: #222222;
}
.facilities__slider-lorem {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #777777;
  padding: 20px 0 20px 0;
  text-align: justify;
}
.facilities-dark {
  padding: 40px;
  background-color: #222222;
}
.facilities-dark p {
  color: #FFFFFF;
}
.facilities .number-dark {
  color: #333333;
}

.menu {
  padding: 30px;
}
.menu__img {
  margin-left: 80%;
}
.menu__section {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #777777;
}
.menu__title {
  padding-top: 20px;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
}
.menu__card {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.menu__card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 120px;
  height: 120px;
}
.menu__card-text-title {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.72px;
  color: #222222;
}
.menu__card-text-lorem {
  margin-top: 12px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
}
.menu__buttons {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.menu__buttons-before {
  background: #f8f8f8;
  width: 36px;
  height: 36px;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.menu__buttons-before p {
  color: #111111;
}
.menu__buttons-before:hover {
  transform: scale(1.05);
}
.menu__buttons-next {
  background: #BEAD8E;
  width: 36px;
  height: 36px;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.menu__buttons-next p {
  color: #FFFFFF;
}
.menu__buttons-next:hover {
  transform: scale(1.05);
  box-shadow: 0px 14px 24px rgba(190, 173, 142, 0.15);
}
.menu__slider {
  background: lightgrey;
  height: 300px;
  margin-top: 40px;
}

.data {
  display: flex;
  flex-direction: column;
  background: #222222;
  padding: 40px;
}
.data__icon {
  text-align: center;
  margin-bottom: 30px;
}
.data__icon-img {
  margin-bottom: 16px;
}
.data__icon-number {
  font-family: "Roboto", serif;
  font-size: 60px;
  color: #FFFFFF;
}
.data__icon-number span {
  font-size: 20px;
}
.data__icon-text {
  font-family: "Roboto", serif;
  color: #999999;
  font-size: 16px;
}

.footer {
  padding: 20px;
  margin-top: 50px;
  background-image: url("../assets/img/footer-bg.svg");
}
.footer__logo-icon {
  margin-left: -20px;
}
.footer__lorem {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #777777;
}
.footer__networks {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 48px;
  list-style: none;
}
.footer__networks-icon {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  transition: background-color 200ms ease-in-out;
}
.footer__networks-icon img {
  width: 30px;
  height: 30px;
  transition: filter 100ms ease-in-out;
}
.footer__networks-icon:hover {
  background-color: #bead8e;
}
.footer__networks-icon:hover img {
  filter: brightness(8);
}
.footer__title {
  margin-top: 32px;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}
.footer__services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 24px;
  list-style: none;
}
.footer__services li {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 48px;
  color: #777777;
}
.footer__contacTitle {
  margin-top: 32px;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.footer__contact-inform {
  padding-top: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.footer__contact-inform-image {
  padding-right: 30px;
}
.footer__contact-inform-data .text {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}
.footer__contact-inform-data .number {
  color: #777777;
  font-size: 14px;
}

.copyright {
  padding: 20px;
  background-color: #f8f8f8;
}
.copyright__text {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.48px;
  color: #222222;
}

.head {
  width: 100%;
  background-color: #333333;
  padding: 120px 0 90px 20px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.head__subtitle {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
}
.head__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-top: 20px;
}

.nav {
  margin-left: 60%;
  position: absolute;
  background-color: #FFFFFF;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.48px;
  margin-top: -80px;
  padding: 14px 14px;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .page {
  color: #111111;
  text-decoration: none;
}
.nav .page:hover {
  color: #BEAD8E;
}

.counter {
  text-align: left;
  padding: 20px;
}
.counter__section {
  font-family: "Archivo", sans-serif;
  padding-top: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #777777;
}
.counter__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  margin-top: 32px;
  font-size: 50px;
  font-family: "Old Standard TT", serif;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-left: 20px;
}
.counter__facts {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
.counter__facts-icon {
  padding-top: 24px;
  display: flex;
  margin-bottom: 60px;
}
.counter__facts-icon img {
  padding-right: 30px;
}
.counter__facts-icon-data h1 {
  grid-column: 2;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -1.8px;
  color: #222222;
}
.counter__facts-icon-data p {
  text-align: left;
  grid-column: 2;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #333333;
}
.counter__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.counter__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 270px;
  height: 300px;
}

.room {
  padding-top: 60px;
  padding-left: 20px;
}
.room__section {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  color: #777777;
}
.room__title {
  margin-top: 32px;
  font-size: 40px;
  font-family: "Old Standard TT", serif;
  line-height: 48px;
  letter-spacing: -1.44px;
  color: #222222;
}
.room .checking {
  padding-top: 50px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Archivo", sans-serif;
  line-height: 20px;
  letter-spacing: -0.54px;
  color: #222222;
  text-align: center;
}
.room input.check {
  color: #777777;
  background: #F8F8F8;
  padding: 20px;
  border-bottom: none;
}
.room button.roomDetail {
  background-color: #FFFFFF;
  color: #777777;
  border: 2px solid #777777;
}
.room button.roomDetail:hover {
  background-color: #BEAD8E;
  border: 2px solid #BEAD8E;
  color: #FFFFFF;
}
.room__lorem {
  color: #777777;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.room .other {
  padding-top: 60px;
  color: #222222;
  font-weight: 400;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.room .amenities {
  padding-top: 30px;
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
}
.room .amenities__image {
  display: flex;
  padding-bottom: 20px;
}
.room .amenities__image img {
  width: 30px;
  height: 30px;
}
.room .amenities__image-text {
  padding-left: 20px;
}
.room .amenities__image-text p {
  color: #777777;
  font-weight: 500;
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 17px;
}
.room .employee {
  width: 320px;
  height: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.room .employee__photo {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
.room .employee__name {
  padding-top: 40px;
  color: #222222;
  font-weight: 400;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  line-height: 30px;
}
.room .employee__position {
  padding-top: 20px;
  color: #BEAD8E;
  font-weight: 700;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
}
.room .employee__lorem {
  padding: 20px;
  padding-top: 20px;
  color: #777777;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.room .cancellation__lorem {
  padding-top: 20px;
  color: #777777;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.offers {
  padding: 20px;
}
.offers__room {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  justify-content: center;
}
.offers__room img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 275px;
  height: 250px;
}
.offers__room-prices {
  margin-top: -50px;
  width: 275px;
}
.offers__room-prices .before {
  text-align: right;
  font-family: "Archivo", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 25px;
  color: #BEAD8E;
  text-decoration: line-through;
}
.offers__room-prices .before span {
  font-size: 13px;
  text-decoration: line-through;
}
.offers__room-prices .before:hover {
  transform: scale(1.1);
}
.offers__room-prices .offer {
  text-align: right;
  margin-top: 10px;
  font-family: "Archivo", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: red;
}
.offers__room-prices .offer span {
  font-size: 13px;
}
.offers__room-prices .offer:hover {
  transform: scale(1.1);
}
.offers__room-section {
  margin-top: 20%;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-align: left;
  color: #777777;
  text-transform: uppercase;
}
.offers__room-title {
  color: #222222;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1.44px;
  margin-top: 24px;
  margin-bottom: 30px;
  text-align: left;
}
.offers__room-lorem {
  color: #777777;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 24px;
}
.offers__amenities {
  padding: 20px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}
.offers__amenities-image {
  display: flex;
  padding-bottom: 20px;
}
.offers__amenities-image img {
  width: 30px;
  height: 30px;
}
.offers__amenities-image-text {
  padding-left: 20px;
}
.offers__amenities-image-text p {
  color: #777777;
  font-weight: 500;
  font-family: "Roboto", serif;
  font-size: 14px;
  line-height: 17px;
}
.offers__button {
  font-size: 14px;
  font-weight: 700;
  padding: 22px 57px;
  border: 2px solid #777777;
  background-color: #f9f9f9;
  color: #777777;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
}
.offers__button:hover {
  color: #FFFFFF;
  background-color: #BEAD8E;
  border: 2px solid #BEAD8E;
}

.popular {
  margin-top: 40px;
  padding-top: 92px;
  background-color: #222222;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.popular__section {
  font-weight: 500;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #BEAD8E;
  text-transform: uppercase;
}
.popular__title {
  color: #FFFFFF;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.8px;
  margin-top: 24px;
}
.popular__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}
.popular__icon-image {
  position: relative;
  box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 100;
}
.popular__infor {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  margin-top: -40px;
}
.popular__infor-title {
  color: #222222;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.8px;
  text-align: center;
}
.popular__infor-lorem {
  color: #777777;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  margin-top: 20px;
}
.popular__infor-price {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  color: #BEAD8E;
  margin-top: 12px;
}
.popular__infor-price span {
  font-size: 16px;
}
.popular__infor-price .book {
  color: #BDBDBD;
  font-size: 16px;
}
.popular__infor-price:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */